<div>
  <h1>Bank Accounts</h1>

  <ul>
    <li *ngFor="let account of accounts">
      {{ account.name }}: {{ account.balance | currency }}
      <button (click)="openEditDialog(account)">Edit</button>
      <button (click)="openDeleteDialog(account.name)">Delete</button>
    </li>
  </ul> 

  <button id="add-account-button" (click)="showAddDialog = true">Add Account</button>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Add Dialogue -->
  <div *ngIf="showAddDialog">
    <dialog open>
      <h2>Add Account</h2>
      <form (ngSubmit)="addAccount()">
        <p>
          <label for="name">Name</label>
          <input
            type="name"
            id="account-name"
            name="name"
            placeholder="Please enter account name..."
            [(ngModel)]="newAccount.name"
          />
        </p>

        <p>
          <label for="balance">Balance</label>
          <input
            type="number"
            id="account-balance"
            name="balance"
            placeholder="Please enter account balance..."
            [(ngModel)]="newAccount.balance"
          />
        </p>

        <p>
          <button type="button" (click)="onCloseAddAccount()">Cancel</button>
          <button type="submit">Create</button>
        </p>
      </form>
    </dialog>
  </div>

  <!-- Edit Dialogue -->
  <div *ngIf="showEditDialog">
    <dialog open>
      <h2>Edit Account</h2>
      <form (ngSubmit)="editAccount()">
        <p>
          <label for="editName">{{ editingAccount.name }}</label>
        </p>

        <p>
          <label for="editBalance">Balance</label>
          <input
            type="number"
            id="editBalance"
            name="editBalance"
            [(ngModel)]="editingAccount.balance"
          />
        </p>

        <p>
          <button type="button" (click)="onCloseEditDialog()">Cancel</button>
          <button id="update-account-button" type="submit">Update</button>
        </p>
      </form>
    </dialog>
  </div>

  <!-- Delete Dialogue -->
  <div *ngIf="showDeleteDialog">
    <dialog open>
      <h2>Delete Account</h2>
      <form (ngSubmit)="deleteAccount()">
        <p>
          Are you sure you want to delete this account?
          <button type="button" (click)="onCloseDeleteDialog()">Cancel</button>
          <button type="submit">Confirm</button>
        </p>
      </form>
    </dialog>
  </div>
</div>
